<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: common-head('Home')"></head>
<body style="margin:0; height:100vh; background: linear-gradient(to bottom right, #7ddeea, #ffffff); background-size: cover; background-attachment: fixed;">
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container mt-5 text-center">
	<h1>Welcome to Weather Tracker</h1>
	<p class="lead">Find current weather data in any city of the world.</p>
</div>
<div class="container mt-4">
	<form th:action="@{/search}" th:object="${citySearchDto}" method="get" class="row g-3 justify-content-center">
		<div class="col-auto">
			<input type="text" th:field="*{cityName}" class="form-control" placeholder="Enter city name" required>
		</div>
		<div class="col-12 text-danger text-center" th:if="${#fields.hasErrors('cityName')}" th:errors="*{cityName}"></div>
		<div class="col-auto">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>
</div>
<div class="container mt-5">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
		<div class="col" th:each="location : ${locations}">
			<div class="card h-100 text-center transparent-card">
				<div class="card-body">
					<form th:action="@{/locations/delete}" method="post" class="position-absolute weather-card-delete-form">
						<input type="hidden" name="locationId" th:value="${location.getId()}" />
						<button class="btn-close" type="submit" aria-label="Delete"></button>
					</form>
					<img th:src="'https://openweathermap.org/img/wn/' + ${location.getIcon()} + '@2x.png'" alt="Weather icon">
					<h1 class="card-title" th:text="${location.getTemp()}"></h1>
					<h3 class="card-title" th:text="${location.getName()} + ', ' + ${location.getCountry()}">City, Country</h3>
					<p class="card-text" th:text="'Feels like ' + ${location.getFeelsLike()} + ', ' + ${location.getDescription()}">Clear sky</p>
					<p class="card-text fw-bold" th:text="'Humidity ' + ${location.getHumidity()} + ' %'">18°C</p>
				</div>
			</div>
		</div>

	</div>
</div>
</body>
</html>